<!DOCTYPE html>
 <html lang="en" ng-app="listaTelefonica"> <!-- Nome da apliaçao -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <script src="lib/angular/angular.js"></script>

    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin: 20px auto 0 auto;
        }

        table {
            margin: 20px auto 0 auto;
            width: 300px;
        }
    </style>


    <script>
        angular.module("listaTelefonica", []); // cria o modulo
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $log) { // Localiza o modulo, scope é quem faz a mediaçao entre view e controler 
            $scope.app = "Lista Telefonica";

            $log.info('asas');

            $scope.contatos = [ //Criando um array de contatos
                {nome: "Pedro", telefone: "99998888"},
                {nome: "Ana", telefone: "99997777"},
                {nome: "Maria", telefone: "99996666"}
            ];
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato)); // Da push
                delete $scope.contato; // deleta para nao ficar com a mesma referencia, se nao ao editar o form muda de novo no array  
            };
        });
    </script>

</head>
<body ng-controller="listaTelefonicaCtrl"> <!-- ng-controlle vincula view e controller -->
    
    <div class="jumbotron">
        <h3> {{app}}</h3>
        <table class="table-striped">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
            </tr>
            <tr ng-repeat="contato in contatos">
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
            </tr>
        </table>
        <hr>
        <input class="form-control mb-1" type="text" placeholder="Nome" ng-model="contato.nome"/>
        <input class="form-control mb-1" type="text" placeholder="Telefone" ng-model="contato.telefone"/>
        {{nome}}
        {{telefone}}

        <button class="btn btn-secondary btn-block" ng-click="adicionarContato(contato)">Adicionar contato</button>
    </div>

</body>
</html>



<script>
/**  Diretivas sao extonsoes da linguagem html que dao mais poder, permitem a implementaçao de novos  comportamentos 
 * 
 * ngApp --> Diretiva que define as fronteiras da apliaçao 
 * ngBind --> Substitui o elemento por uma expressao parecido com {{ }}, pega uma coisa do scope e exibe 
 * ngRepeat --> permite interaçao com arrays e objetos, é similar ao For In, vai envolver uma variavel temporaria
 * ngModel --> Faz o inverso do ngBind, inverso da interpolaçao da expressao, pega uma coisa da view e define no scope, se aplica nos inputs nos select e nos textareas
 * ngclick --> disparar quando der click
 * 
 * 
 * Temos que evitar ao maximo ler o scope estando dentro do controler
 * 
 * 
 * 
 **/





</script>